.contato{
    background-color: $primary-color;
    color:white;
    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    
    
      input{
          width: 15rem;
      }
    
      textarea{
        width: 15rem;
    }
  .contato-social-box{
    margin-top:1rem;
  }
}   

    