.quem-somos{
    background-color: $primary-color;
    color: white;
    height: auto;
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    flex-direction: column;
 
    .quem-somos-title{
    text-align: center;
  }

   .quem-somos-text{
    margin-left: 2rem;
   }
}